* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #fafaed;
}

h1 {
  font-size: 56px;
}

#burger {
  width: 100%;
  height: auto;
  object-fit: contain; /* or cover depending on your goal */
}

#headerFront {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  width: 100%;
  align-items: center;
  height: 50px;
  background-color: rgba(152, 188, 255, 0.7);
}

#buttons {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

nav > button {
  margin-right: 75px;
}

button {
  font-size: 1rem;
  height: 2rem;
  width: 8rem;
  background-color: #fafaed;
  border: 1px solid #fafaed;
  border-radius: 1rem;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#textSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  text-indent: 50px;
  line-height: 1.8;
  border: 3px solid black;
  padding: 10px;
}

#textcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#hourContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  line-height: 2.5;
}

#subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  height: auto;
  margin-bottom: 25px;
}

.foodContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foodItems {
  background-color: rgba(63, 45, 229, 0.116);
  border: 2px solid rgba(63, 45, 229, 0.116);

  width: 700px;
  margin-top: 0.3px;
}

.foodname,
.foodDescription,
.foodPrice,
.imageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foodName {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 1.6rem;
}

.foodDescription {
  font-size: 1.2rem;
}

.foodPrice {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutText {
  margin-top: 20px;
  width: 600px;
  text-indent: 50px;
  line-height: 1.8;
}
